.calculator{
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    background-color: #4F493f;
    
}

.display{
    margin-bottom: 10px;
}

.input, .result{
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid #695950;
    background-color: #908471;
    border-radius: 5px;
    margin-bottom: 5px;
    min-height: 30px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

button{
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid #5f5a4d;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5f5a4d;  
    
}

button:hover{
    background-color: #e0e0e0;
}