.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #676f9d;
    padding: 20px;
    border-radius: 15px;
    background: #2D3250;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #333;
    font-family: 'Arial', sans-serif;
}

.todo-list h2{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.input-group{
    display: flex;
    margin-bottom: 20px;
}

.input-group input{
    padding: 10px;
    border: 2px solid #ff7043;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 200px;
}

.input-group button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ff7043;
    color: white;
    transition: background-color 0.3s;
}

.input-group button:hover{
    background-color: #f4511e;
}

ul{
    list-style: none;
    padding: 0;
    width: 100%;
}

ul li{
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f9b17a;
    background-color: #676f9d;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li button{
    background: none;
    border: none;
    color: #ffff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

ul li button:hover{
    color: #c87536
}

